@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #131617;
  --main-color: #2f6173;
  --accent-color: #b9925a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main: var(--main-color);
  --color-accent: var(--accent-color);
}

@font-face {
  font-family: "Dm Sans";
  src: url("/fonts/DMSans.ttf") format("truetype");
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.dm-sans {
  font-family: "Dm Sans", sans-serif;
}

.subheading {
  font-family: "Dm Sans", sans-serif;
  font-weight: 500;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Dm Sans", Helvetica, sans-serif;
}
